@CHARSET "ISO-8859-1";

* {
	padding:0px;
	margin:0px;
}

.ui-widget, .ui-widget .ui-widget {
	font-size: 12px !important;
}

.imagem {
	margin_left: 20px;
}

#logoPrincipal {
	box-sizing: border-box;
	margin-left:270px;
	margin-top:150px;
	vertical-align: middle;
	position: static;
}

#teste {
	text-align: right;
}

form panelGrid #txtFornPJ {
	display:none;
}

#sobre {
	text-align: justify;
	padding: 50px;
	font-size: 14px;
	line-height: 2;
	word-spacing: 5px;
	text-indent: 4em;
}

#titulo {
	text-align: center;
	margin-top: 30px;
	font-size: 18px;
	font-weight: bold;
	line-height: 2;
	word-spacing: 5px;
}