@CHARSET "ISO-8859-1";

* {
	padding:0px;
	margin:0px;
}

.ui-widget, .ui-widget .ui-widget {
	font-size: 12px !important;
}

.imagem {
	margin_left: 20px;
}

#logoPrincipal {
	box-sizing: border-box;
	margin-left:270px;
	margin-top:150px;
	vertical-align: middle;
	position: static;
}